<h2>Showing Painting #<%= @paint.id %></h2>

<nav>
<%= link_to 'Edit', edit_painting_path(@paint) %> |
<%= link_to 'Back', paintings_path %>
</nav>

<div class="painting">
  <%= image_tag @paint.source, :class => "paint" %>
<p id="notice"><%= notice %></p>

<p>
  <b>Source:</b>
  <%= @paint.source %>
</p>



